
body{
    margin: 0;
    padding: 0;
}
.logo img{
  padding-left: 35%;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.body-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; 
    max-width: 1400px;
    margin: 0 auto; 
    height: 650px;
    
  }
  
  .container-left {
    width: 50%; 
    background-color: rgba(208, 157, 161, 0.875);
    max-width: 1200px;
    
  }
  
  .container-right {
    width: 50%; 
    min-width: 400px; 
    background-image: url(./Assets/output-onlinepngtools.png);
    background-size: cover;
  

  }
  .container-right img{
    
  }
  /* media query for smaller screens */

@media (max-width: 768px) {
    .body-container {
      flex-direction: column; /* stack containers vertically */
    }
    .container-left {
      width: 100%; /* take up full width */
    }
    .container-right {
      width: 100%; /* take up full width */
    }
  }
  
.intro {
  padding-top: 50px;
   padding-left: 25%;
   padding-bottom: 0; 
   font-family: Arial, Helvetica, sans-serif;
}
.intro h3 {
  color: white;
  background-color: rgb(61, 38, 237);
  border-radius: 30px;
  border: none;
  width: 260px;
  height: 23px;
  padding: 10; 
  text-align: center;
}

.signup-cont{
  display: flex;
  flex-direction: row;
  padding-left: 18.5%;
}

.help{
  
  padding-top: 7px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  
}
.help a{
  margin-left: 5px;
  text-decoration: none;
  color: rgba(40, 95, 222, 0.876);
  font-weight: bolder;
}


.signup-cont li{
 list-style: none;
 margin-left: 41px;
 padding: 0;
 
  
}
.signup-cont a{
  text-decoration: none;
  color:  rgb(63, 60, 215) ;
}
.button-tive{ 
  padding-left: 17.5%;
}
.button-tive button{ 
 width: 100px;
 height: 35px;
 border-radius: 30px;
 margin-left: 50px;
 padding-left: 23.5;
}
.stu{
color: white;
background-color: rgb(63, 60, 215);
border: none;
}

.fac{
  color: white;
  background-color: rgb(254, 36, 36) ;
  border: none;
}

div.button-tive button:hover
{
  color: black;
  background-color: rgb(36, 181, 254) ;
  border: none;
}
#signup-form{
  padding-left: 25%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.form-container {
  
  font-family: Arial, Helvetica, sans-serif;
}

.input-container {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 47%;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}
.sefe{
  text-align: center;
}
.sefe img{
  width: 60%;
  border-radius: 15px;
}
.label {
  position: absolute;
  top: -6px;
  left: 10px;
  background-color: #fff;
  padding: 0 5px;
  font-size: 12px;
  
}
  
  .input-container input[type="text"], .input-container input[type="password"], .input-container input[type="email"], .input-container input[type="number"] {
    padding: 7px;
    border: none;
    width: 90%;
  }
  
 
  .login-button input{
   color: white;
   background-color: rgb(63, 60, 215);
   border-radius: 30px;
   border: none;
   width: 260px;
   height: 35px;
   padding: 10;
   
    }

  .login-button input:hover{
    color: rgb(246, 243, 243);
    background-color: rgb(246, 6, 6) ;
    border: none;
    transform: scale(1,1.2);
    transition: all 0.3s ease-in-out;
  }  